

<div class="encabezado">
  <div class="container">

  </div>
</div>



<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">

    <a class="navbar-brand" href="#">
      <img src="\assets\img\educacion.png" alt="" width="50" height="50" class="d-inline-block align-text-center">
      FREE ACADEMY
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li><a  [routerLink]="['/lista-video']"  routerLinkActive="active" ><i class="fa fa-sticky-note"></i> Temas</a></li>
      </ul>
      
      <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
        <li>
          <a  [routerLink]="['/Mis-cursos']"  class="navbar-brand nav-alu" aria-current="page" href="#"><i class="fa fa-address-book"  aria-hidden="true"></i> Mis cursos</a>
          
        </li>   
        <li>
          <a  class="navbar-brand nav-alu" aria-current="page" href="#"><i class="fa fa-user-circle"  aria-hidden="true"></i> Nombre alumno</a>
          
        </li>
      </ul>

    </div>
  </div>
</nav>

<!--
<nav class="navbar ">
  <div class="container">

      <div class="navba">
        <a href="/" class="navbar-brand">
          <i class="fa fa-video-camera" aria-hidden="true"></i> ACADEMY FREE
        </a>
      </div>
      <div class="colla">
        <a href="/" class="navbar-brand">
          <i class="fa fa-address-book" aria-hidden="true"></i> Name Curso
        </a>

        <ul class="nav navbar-nav">
          <li><a  [routerLink]="['/lista-video']"  routerLinkActive="active" ><i class="fa fa-sticky-note"></i> Temas</a></li>
        </ul>
    </div>
  </div>
</nav>
-->

