<app-header-adm> </app-header-adm>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner bg-dark">
      <div class="carousel-item active">
          <div class="row">
            <img src=".\assets\img\Webinar-bro.png" class="d-block  imgn col-md-3" alt="...">
            <div class="col-md-4 px-0">
                <h1 class="display-4 fst-italic text-white">Comparte tus clases</h1>
                <p class="lead my-3 text-white">Usa nuestra plataforma para compartir tus conocimientos con los que quieren una oportunidad de ingreso.</p>             
            </div>
          </div>
        
      </div>
      <div class="carousel-item">
        <div class="row">
            <img src=".\assets\img\Webinar-pana.png" class="d-block  imgn col-md-3" alt="...">
            <div class="col-md-4 px-0">
                <h1 class="display-4 fst-italic text-white">Comparte tus clases</h1>
                <p class="lead my-3 text-white">Usa nuestra plataforma para compartir tus conocimientos con los que quieren una oportunidad de ingreso.</p>             
            </div>
          </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>


<div>
    <h1 class="display-4  text-black txtTitulo">MIS CURSOS</h1>
    <nav class="navbar navbar-expand-lg bg-per">
      <div class="container-fluid">
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          
          <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small ul-ag">
            <li>
              <a  [routerLink]="['/Mis-cursos']" routerLinkActive="active" class="btn btn-outline-light btn-MC" aria-current="page" href="#"> Mis cursos</a>
            </li>

              <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                <button class="btn btn-outline-light" type="submit">Buscar</button>
              </form>
            
            <li>
              <a [routerLink]="['/form-mis-cursos']" routerLinkActive="active" class="btn btn-outline-light" aria-current="page" href="#"><i class="fa fa-plus"  aria-hidden="true"></i> Agregar</a>
            </li>
          </ul>
    
        </div>
      </div>
    </nav>
  </div>
  <router-outlet></router-outlet>
