<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
  
      <a class="navbar-brand" href="#">
        <img src="\assets\img\educacion.png" alt="" width="50" height="50" class="d-inline-block align-text-center">
        FREE ACADEMY
      </a>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>
        
        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
          <li>
            <a class="navbar-brand nav-alu" aria-current="page" href="#"><i class="fa fa-address-book"  aria-hidden="true"></i> Mis cursos</a>
            
          </li>   
          <li>
            <a class="navbar-brand nav-alu" aria-current="page" href="#"><i class="fa fa-user-circle"  aria-hidden="true"></i> Nombre admin</a>
          </li>
        </ul>
  
      </div>
    </div>
  </nav>