
<app-mis-cursos> </app-mis-cursos>

<div class="container list-MC" id="listaCursos">

  
    <div class="row justify-content-around row-cols-3 row-cols-sm-2 row-cols-md-2 g-3">


      <div *ngFor=" let micurso of misCursos " class="col CardMiCurso">
        <div class="card mb-6 CardCurso" style="max-width: 600px;">
          <div class="row g-0">
            <div class="col-md-6 ">
              <img src=".\assets\img\historia.jpg" class="img-fluid rounded-start imgnCurso" alt="Historia">
            </div>
            <div class="col-md-6">
              <div class="card-body">
                <h5 class="card-title">{{micurso.nombreCurso}}</h5>
                <p class="card-text">{{micurso.fechaSuscripcion}}</p>
                <p class="card-text"><small class="text-muted">Duracion</small></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button [routerLink]="['/lista-video', micurso.idCurso ]"  type="button" class="btn btn-sm btn-outline-primary">Ver</button>
                    <button  type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                    <button  type="button" class="btn btn-sm btn-outline-danger">Eliminar</button>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>

    </div>
    


  </div>
